@page "/cliques"
@inject IJSRuntime JsRuntime

<h3>Contador</h3>
<br />

<p>Vamos contar os cliques: @contar</p>

<button @onclick="Adicionar">Clique aqui</button>


@code {
    private int contar = 0;

    private async Task Adicionar()
    {
        contar++;
        await JsRuntime.InvokeVoidAsync("alert", $"Clique contado: {contar}");
    }
}