@page "/"

<PageTitle>Home</PageTitle>

<h1>Olá, Mundo!</h1>

<Titulo Texto="Este e o titulo"></Titulo>

Bem-vindo ao seu novo APP.

<hr />
<NavLink href="variaveis">​​​​ > Variáveis</NavLink><br />

<NavLink href="metodo"> > Metodos</NavLink> <br />

<NavLink href="imc"> > Calculo de IMC</NavLink>
<br />

<NavLink href="nota"> > Nota Aluno</NavLink>
<br />

<NavLink href="cliques"> > Contagem</NavLink>
<br />

