@page "/variaveis";

<h3>Variaveis</h3> <hr />

<br />

<p>
    A variavel contem o valor @idade <br />
    A variável <b>sol</b> contém o valor: @sol <br />
    ​A variável <b>chuva</b> contém o valor: @chuva <br />
    ​A variável <b>salario</b> contém o valor: @salario <br />
</p>

@code {
    int idade = 10;
    Boolean sol = true;
    bool chuva = false;
    double salario = 226.35;
}
